body {
	width: 100%;
	margin: auto;
}

hr {
	border-color: grey;
}

input {
	-webkit-transition: transition 0.3s;
  transition: 0.3s;
  border: 1px solid black;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	padding: 3px;
}

.li-img {
	width: 150px;
	max-width: 95%;
	height: 150px;
	display: block;
	margin: auto;
}

.text-center {
	text-align: center;
}

.header-text {
	margin: 2px;
	-webkit-transition: transition: 0.4s;
	transition: 0.4s;
	line-height: 55px;
	vertical-align: middle;
	-webkit-transition: transition: 0.3s;
	transition: 0.34s;
	margin: 0px;
}

#place-filter {
	width: 95%;
}

.header-text:hover {
	opacity: 0.3;
	transition: 0.3s;
}

.nav-bar {
	margin: 0;
	padding: 0;
	text-align: center;

}

.whitey {
	background-color: white;
}

.blacky {
	background-color: black;
}

.nav-bar li {
	display: inline-block;
	padding: 10px 50px 10px 50px;
}

.left-box {
	border: 1px solid black;
	width: 100%;
}

#form {
	display: block;
	margin: auto;
}

 .srh-txt {
	padding-top: 15px;
	margin: 0px;
 }

.place-list {
	margin-top: 0px;
	margin-bottom: 5px;
  padding: 5px;
  min-height: 50vh;
  width: 95%;
  display: block;
  margin: auto;
}

#refresh {
	height: 40px;
	width: 40px;
	position: absolute;
	-webkit-transition: transition 0.3s;
	transition: 0.3s;
	border: 2px solid black;
	bottom: 40px;
	left: 15px;
	background-color: white;
	opacity: 0.7;
	z-index: 1000;
}

.place-list::-webkit-scrollbar {

}

.fq-items, .food-items {
	background-color: gray;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.fq-items:hover, .food-items:hover {
	opacity: 0.7;
	transition: 0.3s;
}
#wikipedia-links {
	margin: 0px;
	padding: 5px;
}

#wikipedia-links li {
	background-color: #bfbfbf;
  padding: 5px;
  width: 95%;
  display: block;
  margin: auto;
	margin-bottom: 5px;

}

#wikipedia-links li:hover {
	opacity: 0.7;
	transition: 0.3s;
}

.right-box {
	border: 1px solid black;
}

#topbar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
	background: black;
	z-index: 1000;
	box-shadow: 2px 4px 7px grey;
}
#top-text {
	color: white;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	height: 60px;
	line-height: 60px;
	vertical-align: middle;
}

#sidebar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 0px;
	max-width: 100%;
	height: 100vh;
	background: #fbfbfb;
	border-right: 2px solid black;
	z-index: 100;
	box-shadow: 2px 4px 7px grey;
	overflow-y: scroll;
	/*white-space: nowrap;*/
	vertical-align: middle;
	display: inline-block;

	-webkit-transition: width 0.3s ease;
	-moz-transition: width 0.3s ease;
	-o-transition: width 0.3s ease;
	transition: width 0.3s ease;
}
#sidebar::-webkit-scrollbar {
	display: none;
}

/*#sidebar {
    -webkit-transition: width 2s ease;
    -moz-transition: width 2s ease;
    -o-transition: width 2s ease;
    transition: width 2s ease;

    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    background: yellow;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;

    width: 0px;
}*/

#sidebar.in {
	width: 325px;
}

.collapse.width {
    height: auto;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}

.collapse {
  height: auto;
  width: auto;
}

.collapse.height {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

/*.collapse.width {
  position: relative;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}*/

.collapse.in.width {
  width: auto;
}

.collapse.in.height {
  height: auto;
}

#sb-cont {
	position: relative;
	width: 100%;
	height: 60px;
}
/*#sb-inner {
	position: fixed;
	border-bottom: 2px solid black;
	background: #fbfbfb;
	width: 323px;
	height: 60px;
	max-width: 100%;
}*/

#bta-c {

}

.concealed {
	visibility: hidden;
	opacity: 0.0;
}

#chevron {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 30px;
	color: white;
	z-index: 1000;
	cursor: pointer;
}
#chevron:hover {
	color: grey;
}

#bta {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 30px;
	color: white;
	z-index: 1000;
	cursor: pointer;
}
#bta:hover {
	color: grey;
}

#map-div {
	position: absolute;
	width: 100%;
	height: calc(100vh - 60px);
	bottom: 0px;
	left: 0px;
}
#mapdiv {
	position: relative;
}
#street-view {
	width: 100%;
	margin: auto;
}
.street-img {
	width: 100%;
	max-height: 600px;
}

.nytimes-container {
	padding: 0 10px 0 10px;

}

#nytimes-header {
	height: 48%;
}

#search-div {
	padding-bottom: 10px;
}

.news-list {

}

.article-list {
    margin: 0;
    padding: 0;
	white-space: wrap;
}

.article {
    list-style-type: none;
    padding:10px;
    border-top: 1px solid #CCC;
}
.article:first-child {
    border-top:none;
}

.text-shadow {
	text-shadow: 2px 2px 5px gray;
}

.top-icon {
	display: none;
	height: 55px;
	width: 55px;
	position: absolute;
	-webkit-transition: transition 0.3s;
	transition: 0.3s;
}
.top-icon:hover, #refresh:hover {
	background-color: grey;
	transition: 0.3s;
}

#menu-icon {
	border-left: 1px solid black;
	top: 0px;
	right: 0px;
	padding: 4px;
}

#search-icon {
	border-right: 1px solid black;
	top: 0px;
	left: 0px;
	padding: 2px;
}

#dropdown-icon {
	width: 45px;
	height: 45px;
	display: block;
	margin: auto;
	display: none;
	border-radius: 30px;
}
#dropdown-icon:hover {
	background-color: grey;
}
.rotate {
	-webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
	-moz-transform: rotate(180deg);        /* FF */
	-o-transform: rotate(180deg);          /* Opera */
	-ms-transform: rotate(180deg);         /* IE9 */
	transform: rotate(180deg);
}

@media (max-width: 500px) {

	#query, #query-city {
		display: block;
		margin: auto;
		margin-bottom: 5px;
	}

	input {
		margin-bottom: 5px;
	}

}

@media (max-width: 992px) {

	.top-icon {
		display: block;
		z-index: 1000;
	}

	#mapdiv {
		/*display: none;*/
	}

}
